.catalog {
  width: 760px;
}

.catalog__list {
  @include reset-list;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.catalog__item {
  margin-bottom: 27px;
  width: 360px;
}

