.feedback {
  display: none;
  width: 960px;
  padding: 70px 0 85px;
  background-color: #fff;
  box-shadow: 0 20px 50px 0 #000;
}

.feedback h2 {
  margin-left: 100px;
  margin-bottom: 45px;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000;
}
