.map {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 416px;
  margin-bottom: 68px;
  background-color: #e9e5dc;
  background-image: url("../img/bg-map.png");
}

.map__contacts {
  position: absolute;
  z-index: 2;
  margin-left: 140px;
}

.map iframe {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
